{% extends 'blog/base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
  <h1 class="post-title loader">{{ post.title }}</h1>
  {% if post.published_at %}
    <div class="date post-date">
      {{ post.published_at }}
    </div>
  {% else %}
    <a class="btn btn-success" href="{% url 'blog:post_publish' pk=post.pk %}">
      Publish
    </a>
  {% endif %}

  <p class="post-content">
    {{ post.text|safe|linebreaksbr }}
  </p>

  {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'blog:post_edit' pk=post.pk %}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <a class="btn btn-danger" href="{% url 'blog:post_delete' pk=post.pk %}">
      <i class="fa fa-trash"></i>
    </a>
  {% endif %}

  <hr />
  <a class="btn btn-primary btn-comment" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">
    Add comment
  </a>

  <div class="container">
    {% for comment in post.comments.all %}
      <br />
      {% if user.is_authenticated or comment.approved_comment %}
        {{ comment.created_at }}
        {% if not comment.approved_comment %}
          <a href="{% url 'blog:comment_approve' pk=comment.pk %}">
            <i class="fa fa-check"></i>
          </a>
          <a href="{% url 'blog:comment_delete' pk=comment.pk %}">
            <i class="fa fa-trash"></i>
          </a>
        {% endif %}

        <p>{{ comment.text|safe|linebreaksbr }}</p>
        <p>Posted by: {{ comment.author }}</p>

      {% endif %}
    {% empty %}
      <p>No comments</p>
    {% endfor %}
  </div>
{% endblock %}